@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: local('Pretendard Bold') format('woff2') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: local('Pretendard SemiBold') format('woff2') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: local('Pretendard Medium') format('woff2') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: local('Pretendard Regular') format('woff2') format('truetype');
  font-display: swap;
}
