@import 'font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:nth-child(2) {
  display: none;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}

.ant-tabs {
  height: max-content;
  min-height: 660px;
}

.ant-tabs-content-holder {
  display: flex;
}
