@import 'font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-steps-item-title {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.15px;
  font-weight: 500;
  font-family: 'Pretendard';
  color: #202020 !important;
}

.ant-steps-item-description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
  font-weight: 500;
  font-family: 'Pretendard';
  color: #848E9B !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:nth-child(2) {
  display: none;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}

.ant-tabs {
  height: max-content;
  min-height: 660px;
}

.home-myllrecommend {
  & .ant-tabs-content-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .ant-tabs-content {
    max-width: 610px;
  }
}

.ant-tabs-content-holder {
  display: flex;
}

.ant-carousel .slick-dots li {
  background: var(--sub-blue-1, #1890ff);
  opacity: 0.3;

  &.slick-active button {
    background: var(--sub-blue-1, #1890ff);
    opacity: 1;
  }
}
