@import 'font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:nth-child(2) {
  display: none;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}

.ant-tabs {
  height: max-content;
  min-height: 660px;
}

.home-myllrecommend {
  
  & .ant-tabs-content-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .ant-tabs-content {
    max-width: 610px;
  }
}

.ant-tabs-content-holder {
  display: flex;
}

.ant-carousel .slick-dots li{
  background: var(--sub-blue-1, #1890FF);
  opacity: 0.3;

  &.slick-active button {
    background: var(--sub-blue-1, #1890FF);
    opacity: 1;
  }

}
